POSTGRES_PASSWORD=change-me-postgres-password
DRUID_ADMIN_PASSWORD=change-me-druid-admin-password
DRUID_INTERNAL_PASSWORD=change-me-druid-internal-password
JWT_SECRET_KEY=change-me-jwt-secret
DEVICE_ID_SECRET_KEY=change-me-device-id-secret
API_SECURITY_APPLICATION_KEY_IMOTION=change-me-imotion-api-key
EVENT_PUBLISHER_BACKEND=tinybird
TINYBIRD_EVENTS_URL=https://api.us-east.aws.tinybird.co
TINYBIRD_TOKEN=change-me-tinybird-token
TINYBIRD_DATASOURCE=realtime_events
GCP_REGION=us-east4
GCP_PROJECT_ID=change-me-project-id
GCP_ARTIFACT_REPOSITORY=change-me-artifact-repo
IMAGE_NAME=realtime-analytics-api
IMAGE_TAG=latest
CLOUD_RUN_SERVICE=realtime-analytics-api
CLOUD_RUN_SERVICE_ACCOUNT=change-me-service-account@change-me-project-id.iam.gserviceaccount.com
JWT_SECRET_NAME=jwt-secret-key
DEVICE_ID_SECRET_NAME=device-id-secret-key
API_KEY_SECRET_NAME=imotion-api-key
TINYBIRD_TOKEN_SECRET_NAME=tinybird-token
