POSTGRES_PASSWORD=change-me-postgres-password
DRUID_ADMIN_PASSWORD=change-me-druid-admin-password
DRUID_INTERNAL_PASSWORD=change-me-druid-internal-password
JWT_SECRET_KEY=change-me-jwt-secret
DEVICE_ID_SECRET_KEY=change-me-device-id-secret
API_SECURITY_APPLICATION_KEY_IMOTION=change-me-imotion-api-key
